# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Explicitly ensure source files use LF
*.js text eol=lf
*.json text eol=lf
*.py text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
